<h1>Insurance Providers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.name %></td>
        <td><%= insurance.street_address %></td>
        <td><%= link_to 'Show', insurance %></td>
        <td><%= link_to 'Edit', edit_insurance_path(insurance) %></td>
        <td><%= button_to 'Delete', insurance, :method=>:delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insurance', new_insurance_path %><br>
<br>


<%= link_to 'Appointments', appointments_path %>

<%= link_to 'Patients', patients_path %>
<%= link_to 'Specialists', specialists_path %>