<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>Insurance</th>
      <th>Specialist(s)</th>
      <th>Appointment date(s)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.street_address %></td>
        <td><%= patient.insurance.name %></td>
        <td><ul>
          <% patient.specialists.each do |specialist| %>
              <li><%= specialist.name %></li>
          <% end %>

        </ul></td>
        <td><ul>
        <% patient.appointments.each do |appointment| %>
            <li><%= appointment.appointment_date %></li>
        <% end %>
        </ul></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= button_to 'Delete', patient, :method=>:delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %><br>
<br>

<%= link_to 'Appointments', appointments_path %>
<%= link_to 'Insurances', insurances_path %>

 <%= link_to 'Specialists', specialists_path %>
