<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>


<table>
  <strong>Specialist(s) and Appointment(s)</strong>
  <tr>
    <td><ul>
      <% @patient.specialists.each do |specialist| %>
          <li><%= specialist.name %></li>
      <% end %> </ul></td>
    <td></td>
    <td><% @patient.appointments.each do |appointment| %>
          <li><%= appointment.appointment_date %></li>
      <% end %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
