<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Specialist</th>
      <th>Specialty</th>
      <th>Patient</th>
      <th>Complaint</th>
      <th>Appointment date</th>
      <th>Days until appointment</th>
      <th>Fee</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.specialist.name %></td>
        <td><%= appointment.specialist.specialty %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.complaint %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%=(appointment.appointment_date - Date.today).to_i %></td>
        <td><%=appointment.fee%></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= button_to 'Delete', appointment, :method=>:delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %><br>
<br>


<%= link_to 'Insurances', insurances_path %>
<%= link_to 'Patients', patients_path %>
<%= link_to 'Specialists', specialists_path %>