<p id="notice"><%= notice %></p>

<p>
  <strong>Specialist:</strong>
  <%= @appointment.specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @appointment.specialist.specialty %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Complaint/Issue:</strong>
  <%= @appointment.complaint %>
</p>

<p>
  <strong>Appointment Date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Days until appointment:</strong>
  <%=(@appointment.appointment_date - Date.today).to_i%>
</p>

<p>
  <strong>Cost:</strong>
  <%=@appointment.fee%>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
